html {
  position: relative;
  min-height: 100%;
}

body {
  background: url('background.jpeg') lightgrey;
  background-repeat: no-repeat;
  background-size: cover;
  color: #21385b;
}

.col-md-5 {
  background: darkgrey;
}

.receipt{
  display: none;
}

.jumbotron {
  text-align: center;
  margin-top: 4%;
  background: darkgrey;
}

.movieTix {
  padding-bottom: 2%;
  border-radius: 2%;
  margin-left: 2%;
}

.receipt {
  border-radius: 2%;
  float: right;
  margin-right: 2%;
}

.quantitySize {
  width: 20%;
  text-decoration: none;
}
